/* Estilos principales ajustados */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #1e2a38;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

.dashboard {
  display: flex;
  flex-direction: column; /* Cambia a fila en pantallas más grandes */
  width: 100%;
  height: 100%;
}

.top-right-container {
  position: relative;  
  height: 37vh; /* Ajusta la altura de los contenedores */
}
.center-right-container {
  position: relative;  
  height: 17.5vh; /* Ajusta la altura de los contenedores */
  display: flex; /* Establece Flexbox como método de disposición */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}
.bottom-right-container {
  display: flex;
  position: relative;  
  height: 40.5vh; /* Ajusta la altura de los contenedores */
}

.map-container {
  height: 60%; /* Ajusta según la proporción deseada */
  background-color: #000;
}

.graphs-container {
  height: 40%; /* Ajusta según la proporción deseada */
  border: 2px solid #2EA1CC;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px #2E9CCC;
  background-color: rgba(36, 47, 62, 0.1);
  z-index: 10;
  display: flex; /* Asegura que el contenido interno sea flexible */
  flex-direction: column; /* Los gráficos se apilan verticalmente */
  display: none; /* Oculta el div de las gráficas */
  
}

/* Ajustes para pantallas más grandes */
@media (min-width: 768px) {
  .dashboard {
    flex-direction: row; /* Cambia a layout horizontal */
  }

  .map-container {
    width: 100%; /* El mapa ocupa más espacio */
    height: auto; /* Altura automática para llenar el contenedor */
  }

  .graphs-container {
    position: absolute;  
    top: 0.5%; /* Ajusta según necesites */
    left: 67%; /* Ajusta según necesites */
    width: 31%; /* El contenedor de gráficas ocupa menos espacio */
    height: auto; /* Altura automática para llenar el contenedor */
    background-color: rgba(36, 47, 62, 0.9);
    display: block; /* Muestra el contenedor de gráficas */
    display: none; /* Oculta el div de las gráficas */
  }
}

/* Ajustes de gráficos y textos para mantener proporción */
canvas {
  height: 100% !important;
}

/* Ajustes adicionales para textos y otros elementos según necesites */


.file-upload-wrapper {
  position: relative;
  width: 100%;
  max-width: 400px; /* Ajusta al tamaño deseado */
}

.file-input {
  width: 100%;
  height: 50px;
  border-radius: 17px; /* Bordes redondeados */
  border: none; /* Sin borde */
  background-color: transparent;
  color: #fff;
  opacity: 0; /* Hace invisible el input real */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
}

.file-label {
  display: block;
  background-color: rgba(255, 255, 255, 0.1); /* Fondo traslúcido */
  color: #fff;
  border-radius: 17px; /* Bordes redondeados */
  text-align: center;
  padding: 15px;
  position: relative;
  z-index: 1;
  transition: background-color 0.3s, box-shadow 0.3s;
  cursor: pointer;
  backdrop-filter: blur(5px); /* Efecto traslúcido */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Borde sutil */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), /* Sombra suave */
               0 0 15px rgba(48, 105, 152, 0.5); /* Glow effect */
}

.file-label i {
  margin-right: 8px;
}

.file-input:hover + .file-label,
.file-input:focus + .file-label {
  background-color: rgba(255, 255, 255, 0.2); /* Fondo ligeramente más claro para el hover */
  box-shadow: 0 0 15px rgba(48, 105, 152, 0.7); /* Glow effect más intenso */
  outline: none; /* Elimina el outline por defecto en focus */
}

/* Ajustes para la accesibilidad */
.file-input:focus-visible + .file-label {
  box-shadow: 0 0 0 2px #fff;
}

/* Ajustes responsivos */
@media (max-width: 768px) {
  .file-upload-wrapper {
    max-width: 100%;
  }
}


.donut-info {
    position: absolute;  
    top: 50%;
    transform: translateY(-50%);
    left: 30%;
    width: 70%; /* O el ancho que prefieras */
    padding: 0px;
    //background-color: rgba(255, 255, 255, 0.2); /* Ejemplo de color traslúcido */
    color: white; /* Cambia el color como prefieras */
    border-radius: 10px; /* Para bordes redondeados */
    //box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para dar profundidad */
    text-align: right;
    /* Agrega más estilos según necesites */
}

#GraficoDona {
    position: absolute;  
    top: 50%;
    transform: translateY(-50%);
    left: -5%;   
}




select.custom-select {
  display: block;
  background-color: rgba(255, 255, 255, 0.1); /* Fondo traslúcido */
  color: #fff;
  border-radius: 17px; /* Bordes redondeados */
  text-align: center;
  padding: 15px;
  position: relative;
  z-index: 1;
  transition: background-color 0.3s, box-shadow 0.3s;
  cursor: pointer;
  backdrop-filter: blur(5px); /* Efecto traslúcido */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Borde sutil */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), /* Sombra suave */
               0 0 15px rgba(48, 105, 152, 0.5); /* Glow effect */
}

/* Estilos para la flecha desplegable del select */
select.custom-select::-ms-expand {
  display: none;
}
select.custom-select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}


/* Estilo para las opciones dentro del desplegable */
.custom-select option {
  background: rgba(0, 0, 0, 0.7); /* Color de fondo de las opciones */
  color: white; /* Color del texto */
}

/* Cambiar el color de fondo al pasar el mouse */
.custom-select option:hover {
  background: rgba(255, 255, 255, 0.5);
}